<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="bootstrap.php" colors="true" stopOnFailure="false" executionOrder="random" beStrictAboutOutputDuringTests="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">Unit</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory suffix="Test.php">Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="WP_PHPUNIT__TESTS_CONFIG" value="wp-config.php"/>
    <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
  </php>
  <source>
    <include>
      <file>../includes/access-control.php</file>
      <file>../includes/ajax-handlers.php</file>
      <file>../includes/class-cache-handler.php</file>
      <file>../includes/class-progress-tracker.php</file>
      <file>../includes/class-woocommerce-integration.php</file>
    </include>
  </source>
</phpunit>
